* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-textura-grunge-escuro-com-arranhoes-e-manchas_1048-18915.jpg?semt=ais_hybrid&w=740);
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 100px;
}

.navbar a {
    font-size: 25px;
    font-family: "Boldonse", system-ui;
    color: #D3D78C;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    color: #ffff;
    transition: 1s;
}

h1 {
    margin-bottom: 30px;
    margin-top: 70px;
    font-size: 60PX;
    text-align: center;
    color:   #D3D78C;
}
p {
    font-size: 25px;
    text-align: center;
    color:   #D3D78C;
}

h2 {
    margin-bottom: 30px;
    margin-top: 90px;
    font-size: 30PX;
    text-align: center;
    color:   #D3D78C; 
}

hr {
    border-color: #D3D78C;
    margin-top: 100px;
    margin-bottom: 50px;
}

.container {
    background-color: black;
    width: 70%;
    margin: auto;
    padding: 20px 0;
}

main {
    margin: 0 auto;
    width: 940px;
}

form {
    margin: 40px 0;
  
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #D3D78C;
    text-align: center;
    margin-top: 30px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    margin: auto;
}

.enviar {
    margin-top: 30px;
}

footer {
    background-color: black;
    padding: 50px 0;
}