* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-textura-grunge-escuro-com-arranhoes-e-manchas_1048-18915.jpg?semt=ais_hybrid&w=740);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 100px;
}

.navbar a {
    font-size: 25px;
    font-family: "Boldonse", system-ui;
    color: #D3D78C;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    color: #ffff;
    transition: 1s;
}